@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.forgot-password-container {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.forgot-password-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.forgot-password-input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

.forgot-password-button {
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
  background-color: #4338ca;
}

.forgot-password-success {
  color: #16a34a;
  text-align: center;
  margin-bottom: 10px;
}
