@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.about-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 4rem 6rem;
}
.about-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
}
.about-container p {
  padding-bottom: 2rem;
}
@media screen and (max-width: 850px) {
  .about-container {
    margin: 4rem 2rem;
  }
}
