@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.from-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.from-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.from-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}
.from-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid#2a2a2a;
}
.from-container button {
  display: inline;
  padding: 1.3rem;
}
@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
  }
  .form-container form {
    padding-top: 3rem;
    width: 90%;
  }
}
