@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 0 20px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: rgb(15, 0, 0);
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgb(3, 0, 0);
  margin-right: 10px;
}
.logo-img {
  width: 50px;
  height: 35px;
  object-fit: cover;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Login / Signup section */
.navbar-auth-links {
  display: flex;
  gap: 10px;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-link {
  color: rgb(7, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
  background-color: transparent; /* default */
  border-radius: 0; /* default */
  transition: background-color 1s ease 0.11s, border-radius 1s ease 0.11s;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* Normal user dropdown */
.navbar-user-dropdown {
  position: relative;
  display: inline-block;
}
.user-name {
  color: black;
  margin-right: 3px;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-toggle-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 150px;
  z-index: 100;
  padding: 0.5rem 0;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.logout-btn {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  color: red;
  cursor: pointer;
}
.navbar-user-dropdown:hover .dropdown-menu {
  display: block;
}
.logout-btn:hover {
  background-color: #f8d7da;
}
.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
}
.nav-links:hover {
  background: red;
  border-radius: 40px;
  color: white;
}

/* Admin section */
.navbar-admin {
  display: flex;
  gap: 10px;
  align-items: center;
}

.admin-name {
  font-weight: bold;
  color: #f00c0cef;
}

.admin-link {
  color: rgb(8, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
}

.admin-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.admin-logout-btn {
  background-color: #dc3545;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-logout-btn:hover {
  background-color: #c82333;
}
.nav-first {
  display: flex;
}
.nav-home,
.nav-tour {
  margin-top: 2.8px;
}
/* New nav style  */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.menu-icon {
  display: none;
}
.user-avatar {
  width: 42px;
  height: 42px;
  background-color: #000000; /* light gray */
  color: #ebe0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .logo-text {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
    z-index: 99;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 90%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: center;
    padding: 88px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease;
    overflow-x: hidden;
  }
  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
  }
}
