@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.signup-form {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.signup-title {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(49, 46, 46, 0.87);
  margin-bottom: 70px;
}

.signup-input {
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ccccccce;
  padding: 0.5rem;
  border-radius: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 45px;
  font-size: 15px;
}

.signup-button {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #16a34a;
  font-size: 20px;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  height: 45px;
  border-radius: 80px;
  font-weight: 600;
}

.signup-button:hover {
  background-color: #15803d;
}

.success-message {
  margin-top: 1rem;
  text-align: center;
  color: #16a34a;
  font-weight: 500;
}
.input-label {
  font-weight: 200;
  font-size: 22px !important;
  margin-bottom: 10px !important;
}

.error-message {
  margin-top: 1rem;
  text-align: center;
  color: #dc2626;
  font-weight: 500;
}
