@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Layout */
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.dashboard-sidebar {
  margin-top: 5%;
  width: 250px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
  position: fixed; /*static sidebar */
  top: 0;
  left: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 2px solid #334155;
  padding-bottom: 10px;
}

/* Sidebar Buttons */
.dashboard-stat-button {
  display: block;
  background-color: #334155;
  color: #f1f5f9;
  padding: 10px 12px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
}

.dashboard-stat-button:hover {
  background-color: #475569;
  transform: scale(1.03);
}

/* Main Content */
.dashboard-main {
  margin-top: 50px;
  margin-left: 250px; /* leave space for sidebar */
  padding: 30px;
  width: calc(100% - 250px);
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1e293b;
}

/* Bookings container */
.bookings-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #e2e8f0;
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #f1f5f9;
  font-weight: 600;
}

.data-table tr:nth-child(even) {
  background-color: #f8fafc;
}
.dashboard-stat-button.active {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
